@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');
/*By Aryan Malik 2017*/

body {
  background-color: #222;
}

#Nav h1{
    font-family: 'Montserrat', sans-serif;
    color:#2ecc71;
    text-align:left;
}

#Intro p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
  padding-left: 10px;
}

#Projects p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
  padding-left: 15px;
  padding-right: 10px;
}


#Pathfindr h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
  padding-left: 10px;
  padding-bottom:5px;
  padding-top: 5px;
}

#Pathfindr p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
  padding-left: 30px;
}


#Nav img {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 30px;
  left: 300px;
}

#Nav {
  height:48px;
  width: 100vw;
  padding: 5px;
}

#Intro {
  padding-top: 30px;
  padding-left:5px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color:#2ecc71;
  font-weight:400;
  padding-left:5px;
  padding-top:10px;
}


h3 {
  font-family: 'Montserrat', sans-serif;
  color:#2ecc71;
  position:relative;
  bottom:20px;
  left:100px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
  position:relative;
  padding-bottom: 20px;
}

.MoreButtonA {
  padding: 0.4em 0.7em;
  background-color: whitesmoke;
  width: 4em;
  color: #c0392b;
  font-family: 'Oswald', sans-serif;
  position:relative;
  bottom:20px;
  left: 100px;
  cursor: pointer;
  
}

.MoreButtonJ {
  padding: 0.4em 0.7em;
  background-color: whitesmoke;
  width: 4em;
  color: #c0392b;
  font-family: 'Oswald', sans-serif;
  position:relative;
  bottom:20px;
  left: 100px;
  cursor: pointer;
  
}

.MoreButtonB {
  padding: 0.4em 0.7em;
  background-color: whitesmoke;
  width: 4em;
  color: #c0392b;
  font-family: 'Oswald', sans-serif;
  position:relative;
  bottom:20px;
  left: 100px;
  cursor: pointer;
  
}

.profilePhoto{
    text-align:center;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
}

.active {
    background-color: #c0392b;
    color: whitesmoke;
}

#PhotoGallery{
    padding:10px;

}

.GalleryItem{
    margin:10px;
    display:inline;
}

.GalleryItem h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
  text-align: center;
}

.GalleryImage{
    height:20vw;
    width:20vw;
    transition: width 0.3s, height 0.3s;
}

.ViewingGalleryImage{
    width:100vw;
    height:100vh;
}