@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');
/*By Aryan Malik 2017*/

body {
  background-color: #222;
}

#Nav h1{
    font-family: 'Montserrat', sans-serif;
    color:#2ecc71;
    text-align:left;
}

#Intro p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
  padding-left: 10px;
}

#Projects p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
  padding-left: 15px;
  padding-right: 10px;
}


#Pathfindr h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
  padding-left: 10px;
  padding-bottom:5px;
  padding-top: 5px;
}

#Pathfindr p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
  padding-left: 30px;
}


#Nav img {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 30px;
  left: 300px;
}

#Nav {
  height:48px;
  width: 100vw;
  padding: 5px;
}

#Intro {
  padding-top: 30px;
  padding-left:5px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color:#2ecc71;
  font-weight:400;
  padding-left:5px;
  padding-top:10px;
}


h3 {
  font-family: 'Montserrat', sans-serif;
  color:#2ecc71;
  position:relative;
  bottom:20px;
  left:100px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
  position:relative;
  padding-bottom: 20px;
}

.MoreButtonA {
  padding: 0.4em 0.7em;
  background-color: whitesmoke;
  width: 4em;
  color: #c0392b;
  font-family: 'Oswald', sans-serif;
  position:relative;
  bottom:20px;
  left: 130px;
  cursor: pointer;
  
}

.MoreButtonJ {
  padding: 0.4em 0.7em;
  background-color: whitesmoke;
  width: 4em;
  color: #c0392b;
  font-family: 'Oswald', sans-serif;
  position:relative;
  bottom:20px;
  left: 130px;
  cursor: pointer;
  
}

.MoreButtonB {
  padding: 0.4em 0.7em;
  background-color: whitesmoke;
  width: 4em;
  color: #c0392b;
  font-family: 'Oswald', sans-serif;
  position:relative;
  bottom:20px;
  left: 130px;
  cursor: pointer;
  
}

.profilePhoto{
    text-align:center;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ecf0f1;
}

.active {
    background-color: #c0392b;
    color: whitesmoke;
}

#sl1 {
    background-image: url(https://trello-attachments.s3.amazonaws.com/58b322367eed2e5909edd4c1/924x520/90f042503acd2c2a67c79de118fdc137/UWP_Login_Screen.jpg.png); 
}

#sl2 {
    background-image: url(https://trello-attachments.s3.amazonaws.com/57e59b42235f3a5da73cd88b/58b322367eed2e5909edd4c1/5d0d21c47cb040e68c2219d36f9a8928/UWP_Routes_for_You_Page.jpg);
}

#sl3 {
    background-image: url(https://trello-attachments.s3.amazonaws.com/57e59b42235f3a5da73cd88b/58b322367eed2e5909edd4c1/77a3c084b103f1db940cee96d17d4d3d/UWP_Maps_Page.jpg);
}

#sl4 {
    background-image: url(https://trello-attachments.s3.amazonaws.com/58b322367eed2e5909edd4c1/292x520/4e4a089f1e179d20205e20374365f740/Android_Login_Screen.jpg.png);
}

#sl5 {
    background-image: url(https://trello-attachments.s3.amazonaws.com/58b322367eed2e5909edd4c1/600x600/4ce7a77b822e17ebfd79518b07503007/Pathfindr_Logo_Android.jpg.png);
}

#sl6 {
    background-image: url(https://trello-attachments.s3.amazonaws.com/58b322367eed2e5909edd4c1/310x150/2c2fa8d262064ea2b9cd5d2cc9d49225/Pathfindr_Wide_3-01.png);
}